.platform-slider.is-selected .heading-style-h4 {
  color: var(--base-color-brand--secondary-100);
}
.platform-slider.is-selected .text-weight-semibold {
  color: var(--base-color-brand--secondary-100);
}
.platform-slider.is-selected .platform-slider-card {
  border: 1px solid var(--base-color-brand--secondary-100);
}
.platform-slider.is-selected .platform-slider-card {
  border: 1px solid var(--base-color-brand--secondary-100);
  box-shadow: 0 0 10px 2px rgb(from var(--base-color-brand--secondary-100) r g b / 70%);
}
.Typewriter__cursor {
  display: inline-block;
  width: 0px;
}
